.container {
  display: flex;
  justify-content: space-between;
}

.chartContainer {
  width: 50%;
}

.legendContainer {
  width: 45%;
}

.legend {
  list-style: none;
  padding: 0;
}

.legend li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legendColor {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 50%;
}
